@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
/*font-family: "Comic Relief", system-ui;*/

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/*font-family: "Poetsen One", sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-title: "Poetsen One";
    --font-corpo: "Comic Relief";
    --cor1: #c00000;
    --cor2: #F2FF49;
    --cor2: #AFD2E9;
}

.foto {
    max-width: 250px;
    width: 30vw;
    border-radius: 50%;
}